<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrea.broadcastreceiverdemo" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <receiver android:name="com.andrea.broadcastreceiverdemo.ReceiveBroadcastMessage" >
            <intent-filter>
                <action android:name="aa.ll.pp" >
                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".BroadcastReceiverActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.andrea.broadcastreceiverdemo.DemoNotifyActivity"
            android:label="@string/title_activity_demo_notify" >
        </activity>



    </application>

</manifest>

